@page "/projects/{supervisorOid}"
@using ProjectBank.Core
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient _http
@inject ILocalStorageService _localStore

<PageTitle>Project Bank - Viewing posts by @Supervisor?.Name</PageTitle>
<Content>
    <Padding>
        @if (unknownSupervisor)
        {
            <p>Supervisor with id of @supervisorOid not found</p>
        }
        else
        {
            <p>Showing all posts by @Supervisor?.Name</p>
            @if (Posts != null)
            {
                if (Posts?.Count == 0)
                {
                    <p>No posts to show</p>
                }
                else
                {
                    @foreach (var post in Posts)
                    {
                        if (post.PostState.Equals(PostState.Active))
                        {
                            <PostContainer Title="@post.Title" Content="@post.Content" SupervisorId="@post.UserOid"
                                           Tags="@post.Tags" DateAdded="@post.DateAdded" PostID="@post.Id">
                            </PostContainer>
                        }
                    }
                }
            }
            else
            {
                <p>Loading...</p>
            }
        }
    </Padding>
</Content>

@code
{
    [Parameter]
    public string supervisorOid { get; set; }

    private bool unknownSupervisor { get; set; } = false;
    private UserDetailsDto? Supervisor { get; set; }

    private List<PostDetailsDto>? Posts;

    private UserDetailsDto currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentUser = await _localStore.GetItemAsync<UserDetailsDto>("user");
        try
        {
            Posts = await _http.GetFromJsonAsync<List<PostDetailsDto>>($"api/Post/supervisor/{supervisorOid}");
            Posts = Posts?.OrderByDescending(dto => dto.DateAdded).ToList();
            Supervisor = await _http.GetFromJsonAsync<UserDetailsDto>($"api/User/{supervisorOid}");
            if (Supervisor == null) unknownSupervisor = true;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}