@page "/"
@using ProjectBank.Core
@using System.Net
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Project Bank</PageTitle>
<Content>
    <ChildContent>
        <AuthorizeView>
            <Authorized>
                <h1>Hello, @context.User.Identity?.Name!</h1>
                <AddPost />
                <p>Showing all posts</p>
                @if (@Posts != null)
                {
                    @foreach (var post in Posts)
                    {
                        <PostContainer Title="@post.Title" Content="@post.Content" SupervisorId="@post.SupervisorOid"
                    Tags="@post.Tags" DateAdded="@post.DateAdded" PostID="@post.Id">
                        </PostContainer>
                    }
                }
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to project bank, log in <a href="authentication/login">here</a></h1>
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
</Content>

@code
{
    public List<String>? Tags = new List<string>() { "Biology", "Chemistry" }; //test

    private List<PostDto>? Posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Posts = await Http.GetFromJsonAsync<List<PostDto>>("api/Post");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
