@page "/"
@using ProjectBank.Core
@using System.Net
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient _http
@inject ILocalStorageService _localStore

<PageTitle>Project Bank</PageTitle>
<Content>
    <Padding>
        <AuthorizeView>
            <Authorized>
                <h1>Hello, @context.User.Identity?.Name!</h1>
                <p>Showing all posts</p>
                @if (Posts != null)
                {
                    if (Posts?.Count == 0)
                    {
                        <p>No posts to show</p>
                    }
                    else
                    {
                        @foreach (var post in Posts)
                        {
                            if(post.PostState.Equals(PostState.Active)){
                                <PostContainer Title="@post.Title" Content="@post.Content" SupervisorId="@post.SupervisorOid"
                                               Tags="@post.Tags" DateAdded="@post.DateAdded" PostID="@post.Id">
                                </PostContainer>
                            }
                        }
                    }
                }
                else
                {
                    <p>Loading...</p>
                }
            </Authorized>
            <NotAuthorized>
                <h1>Welcome to project bank, please log in <a href="authentication/login">here</a></h1>
            </NotAuthorized>
        </AuthorizeView>
    </Padding>
</Content>

@code
{
    public List<String>? Tags = new List<string>() {"Biology", "Chemistry"}; //test

    private List<PostDto>? Posts;

    private UserDetailsDto currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentUser = await _localStore.GetItemAsync<UserDetailsDto>("user");
        try
        {
            Posts = await _http.GetFromJsonAsync<List<PostDto>>("api/Post");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}