@page "/Messages"
@using ProjectBank.Core
<div class="d-flex flex-nowrap messageContainer col-12">
    <div class="d-flex flex-column col-3 align-items-stretch flex-shrink-0 bg-white messagesSideBar">
        <div
            class="d-flex align-items-center justify-content-between flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Messages</span>
            <EditForm Model="postSelectorModel">
                <InputSelect class="form-select" @bind-Value="postSelectorModel.projectTitle">
                    <option selected>Sort by project</option>
                    <option>@testPost.Title</option>
                </InputSelect>
            </EditForm>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea message-list">
            <MessageItem Read="false" Recipient="Peter Nielsen" RelatedPost="@testPost" LastMessageDate="DateTime.Now">
            </MessageItem>
            <MessageItem Read="false" Recipient="Peter Nielsen" RelatedPost="@testPost"
                LastMessageDate="new DateTime(2000, 5, 14)"></MessageItem>
            <MessageItem Read="true" Recipient="Peter Nielsen" RelatedPost="@testPost"
                LastMessageDate="new DateTime(2021, 11, 23)"></MessageItem>
            <MessageItem Read="false" Recipient="Peter Nielsen" RelatedPost="@testPost"
                LastMessageDate="DateTime.Now.Subtract(TimeSpan.FromMinutes(25))"></MessageItem>
            <MessageItem Read="true" Recipient="Peter Nielsen" RelatedPost="@testPost"
                LastMessageDate="new DateTime(2021, 6, 24)"></MessageItem>
            @for (var i = 0; i < 10; i++)
            {
                <MessageItem Read="true" Recipient="Peter Nielsen" RelatedPost="@testPost" LastMessageDate="DateTime.Now">
                </MessageItem>
            }
        </div>
    </div>
    <div class="d-flex flex-column chat-area col-9">
        <div
            class="d-flex align-items-center justify-content-between flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="oi oi-chevron-left"></span>
            <span class="fs-5 fw-semibold">Peter Nielsen</span>
            <span class="fs-5 fw-semibold"></span>
        </div>
        <div class="chat-area-inner d-flex flex-row align-items-end">
            <div class="chat-messages scrollarea">
                <MessageComponent Text="Hello" Received="true"></MessageComponent>
                <MessageComponent Text="Hello mate"></MessageComponent>
            </div>
        </div>
        <div class="align-content-center chat-area-input d-flex p-2 row">
            <div class="col-9">
                <input type="text" id="message-input" class="form-control" />
            </div>
            <div class="col-3 d-flex">
                <button type="submit" class="btn btn-primary col-12">Submit</button>
            </div>
        </div>
    </div>
</div>

@code {

    private PostDetailsDto testPost = new(5, "Biology project 101", "content", DateTime.Now, 1, new());

    @code {
        PostSelectorModel postSelectorModel = new PostSelectorModel();

        class PostSelectorModel
        {
            public string projectTitle { get; set; }
        }


    }

}