@page "/Notifications"
@using Core
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize (Roles = "Supervisor")]
@inject HttpClient _http
@inject ILocalStorageService _localStore
<div class="d-flex flex-nowrap col-12">
    <div class="d-flex flex-column col-12 align-items-stretch flex-shrink-0 bg-white">
        <div
            class="d-flex align-items-center justify-content-between flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Notifications</span>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea message-list">
            @if (_notificationList != null && _notificationList.Any())
            {
                @foreach (var notification in _notificationList)
                {
                    <NotificationItem Read="@notification.Seen" Title="@notification.Title" Description="@notification.Content"
                Link="@notification.Link" Date="@notification.Timestamp">
                    </NotificationItem>
                }
            }
            else
            {
                <p>You have no new notifications</p>
            }
        </div>
    </div>
</div>

@code {

    private UserDetailsDto? CurrentUser { get; set; }

    private List<NotificationDetailsDto>? _notificationList = new();

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await _localStore.GetItemAsync<UserDetailsDto>("user");

        _notificationList = await _http.GetFromJsonAsync<List<NotificationDetailsDto>>("api/Notification/" + CurrentUser.Oid);
    }
}
