@using ProjectBank.Core
@using ProjectBank.Client.Extensions
<a href="@Link" class="list-group-item list-group-item-action py-3 lh-tight @_extraCSS" aria-current="true">
    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">@Title</strong>
        <small>@_DateString</small>
    </div>
    <div class="col-10 mb-1 small">@Description.</div>
</a>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public DateTime Date { get; set; }

    private string? _DateString { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public bool Read { get; set; }
    private string _extraCSS { get; set; }

    protected override void OnInitialized()
    {
        //Calculate time
        _DateString = Date.GetTimeSince();

        _extraCSS = Read ? "" : "unread";

    }
}
